$brand-corporate: #FFCC80 !default;
$brand-dark: #F57F17 !default;
$brand-darkest: #01579B !default;
$brand-light: #E65100 !default;
$brand-lightest: #FFF3E0 !default;

$brand-accent: #ffea00 !default; // Yellow A400

$white: #fff !default;
$black: #000 !default;
$gray-50: #fafafa !default;
$gray-100: #f5f5f5 !default;
$gray-200: #eeeeee !default;
$gray-300: #e0e0e0 !default;
$gray-400: #bdbdbd !default;
$gray-500: #9e9e9e !default;
$gray-600: #757575 !default;
$gray-700: #616161 !default;
$gray-800: #424242 !default;
$gray-900: #212121 !default;

$gray-darker: $gray-900 !default;
$gray-dark: $gray-800 !default;
$gray: $gray-500 !default;
$gray-light: #818a91 !default;
$gray-lighter: $gray-50 !default;

$blue: #2196f3 !default;
$indigo: #3f51b5 !default;
$purple: #9c27b0 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$orange: #ff9800 !default;
$yellow: #ffeb3b !default;
$green: #4caf50 !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;

$enable-gradients: false !default;

$brand-primary: $brand-corporate !default;
$brand-success: #66bb6a !default; // Green 400
$brand-info: #29b6f6 !default; // Light Blue 400
$brand-warning: #fff176 !default; // Yellow 300
$brand-danger: #ef5350 !default; // Red 400

$primary: #0277BD !default;
$secondary: $gray-100 !default;
$success: $brand-success !default;
$info: $brand-info !default;
$warning: $brand-warning !default;
$danger: $brand-danger !default;
$light: $white !default;
$dark: $gray-800 !default;
//*
$state-success-text: #1b5e20; // Green 900
$state-success-bg: $brand-success;
$state-success-border: #a5d6a7; // Green 200

$state-info-text: #01579b; // Light Blue 900
$state-info-bg: $brand-info;
$state-info-border: #81d4fa; // Light Blue 200

$state-warning-text: $gray-800;
$state-warning-bg: $brand-warning;
$state-warning-border: #ffee58; // Yellow 400

$state-danger-text: #b71c1c; // Red 900
$state-danger-bg: $brand-danger;
$state-danger-border: #ef9a9a; // Red 200
//*/
// Body
$body-bg: $gray-50 !default;
$body-color: $gray-800 !default;

$navbar-padding-x: 3px !default;
$navbar-padding-y: 3px !default;
$navbar-height: 50px !default;
$navbar-height-frontpage: 90px !default;
$navbar-dropdown-color: $white !default;

$breadcrumb-height: 26px !default;
$breadcrumb-divider: ">" !default;

//$font-family-sans-serif: Verdana, Arial, sans-serif !default;
//$font-size-root: 18px !default;
$font-size-base: 0.92rem !default;

// Forms
$input-padding-y: 0.25rem !default;
$input-padding-x: 0.5rem !default;
$input-border-color: #b3e5fc !default;
$input-border-width: 1px !default;

$input-bg: $white !default;

// Buttons
$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;
$btn-primary-border: $btn-primary-bg !default;

$btn-border-radius: 2px !default;

$input-btn-padding-y: 0.25rem !default;
$input-btn-padding-x: 0.5rem !default;


